<div class="coeHospitals">
    <div class="ph-container-flax ph-coeHospitalOuter">
        <div class="ph-mkimagerOuter1">
            <img src="assets/images/testi02.png" alt="">
            <a class="ph-playLink" href="javascript:void(0);"><i class="fa fa-play" aria-hidden="true"></i>Spinal Tumour Treatment & Surgery</a>
            <div class="ph-divbgGradiant"></div>
        </div>
        <div class="coeHospitalText">
            <p class="coeHospitalMainText">
                Patient Smt. Kumari <br> Spinal  tumour treatment and surgery
            </p>
            <p class="coeHospitalAddress">Treated by: Dr. (Prof.) Vivek Gupta,</p>
            <p class="coehospitalEmail">
                <span>Location: </span>Paras HMRI Hospital, Patna 
            </p>
          
        
            <a class="ph-btn ph-coeGetDirections" href="javascript:void(0);">Read Full Case</a>
        </div>
    </div>
</div>
<div class="coeHospitals">
    <div class="ph-container-flax ph-coeHospitalOuter">
        <div class="ph-mkimagerOuter1">
            <img src="assets/images/testi01.png" alt="">
            <a class="ph-playLink" href="javascript:void(0);"><i class="fa fa-play" aria-hidden="true"></i>Mr. Khan's risky operation</a>
            <div class="ph-divbgGradiant"></div>
        </div>
        <div class="coeHospitalText">
            <p class="coeHospitalMainText">
                Patient Waleed K. Hassan <br> Mr. Khan's risky operation
            </p>
            <p class="coeHospitalAddress">Treated by: Dr. Pooja Kapoor,</p>
            <p class="coehospitalEmail">
                <span>Location: </span>Paras Hospitals, Gurgaon 
            </p>
          
        
            <a class="ph-btn ph-coeGetDirections" href="javascript:void(0);">Read Full Case</a>
        </div>
    </div>
</div>
<div class="coeHospitals">
    <div class="ph-container-flax ph-coeHospitalOuter">
        <div class="ph-mkimagerOuter1">
            <img src="assets/images/testi03.png" alt="">
            <a class="ph-playLink" href="javascript:void(0);"><i class="fa fa-play" aria-hidden="true"></i>Total Paralysis Treatment</a>
            <div class="ph-divbgGradiant"></div>
        </div>
        <div class="coeHospitalText">
            <p class="coeHospitalMainText">
                Patient Ratna devi <br> Total paralysis treatment
            </p>
            <p class="coeHospitalAddress">Treated by: Dr. Jaslovleen Kaur,</p>
            <p class="coehospitalEmail">
                <span>Location: </span>Paras Hospitals, Panchkula 
            </p>
          
        
            <a class="ph-btn ph-coeGetDirections" href="javascript:void(0);">Read Full Case</a>
        </div>
        <hr>
        
    </div>
    <div class="result">
        <!-- <span class="blog-result">
     <b>   13</b> results
      </span> -->
                   
                <span class="button-group float-end">    
                    <button class=" one">1</button>
                    <button class="page">2</button>
                    <button class="page">3</button>
                    <button class="page">Last</button></span>
                </div>
    
</div>

