<app-title [name]="customTitle"> </app-title>

<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <!-- <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>CoE</span> -->
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>FAQ</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    
</section>
<!-- common ends -->

<div class="doctor-section">
    <div class="dr-abt-section">
        <div class="dr-abt-left">

            <div class="dr-contact">
                <p class="dr-opd">Centre of Excellence</p>
                <ul class="dr-opd-name">
                    <li><a href="javascript:void(0);">Neurology</a></li>
                    <li><a href="javascript:void(0);">Neurosurgery </a></li>
                    <li><a href="javascript:void(0);">Cardiology </a></li>
                    <li><a href="javascript:void(0);">Cardiac Surgery </a></li>
                    <li><a href="javascript:void(0);">Bariatric Surgery </a></li>
                    <li><a href="javascript:void(0);">Cancer Care </a></li>
                    <li><a href="javascript:void(0);">Orthopaedics & Joint Replacements </a></li>
                    <li><a href="javascript:void(0);"> Gynaecology & Obstetrics</a></li>
                    <li><a href="javascript:void(0);">Gastroenterology & GI Surgery</a></li>
                    <li><a href="javascript:void(0);"> Gynaecology & Obstetrics</a></li>
                    <li><a href="javascript:void(0);">General &
                            Laparoscopic Surgery</a></li>
                    <li><a href="javascript:void(0);">Nephrology</a></li>
                    <li><a href="javascript:void(0);">Plastic & Reconstructive Surgery</a></li>
                    <li><a href="javascript:void(0);">Urology
                        </a></li>

                </ul>
            </div>
        </div>
        <div class="dr-abt-right">
            <div class="set">
                <a href="javascript:void(0);">
                    Emergency Information
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        If you are an emergency case requiring immediate attention, please call (+555) 959-595-959 or
                        the nurse at (+555) 959-595-959. We will give you instructions and directions. If you know the
                        Medical Centre’ s address, please come as quick as possible. If you need transfer by us, please
                        let us know by phone.
                    </p>
                </div>
            </div>
            <div class="set">
                <a href="javascript:void(0);">
                    What Can I Expect At An Appointment?
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                       .
                        
                    </p>
                </div>
            </div>
            <div class="set">
                <a href="javascript:void(0);">
                    What Happens If I Am A New Patient?
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Bacteria in the mouth are the main cause of getting cavities. Apart
                        from that eating starch diet is another cause.
                    </p>
                </div>
            </div>
            <div class="set">
                <a href="javascript:void(0);">
                    Do You Have Imaging (X-Rays, Ultrasonography, CT-Scan) Facilities?
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Maintain the oral hygiene by regular brushing and flossing your
                        teeth to get rid of the cavity. Avoid consuming sugary foods and
                        drinks. You can go for dental sealants as well.
                    </p>
                </div>
            </div>
            <div class="set">
                <a href="javascript:void(0);">
                    Do You Have Parking Facilities?
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Maintain the oral hygiene by regular brushing and flossing your
                        teeth to get rid of the cavity. Avoid consuming sugary foods and
                        drinks. You can go for dental sealants as well.
                    </p>
                </div>
            </div>  <div class="set">
                <a href="javascript:void(0);">
                    Do You Examine Children At Your Clinic?
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Maintain the oral hygiene by regular brushing and flossing your
                        teeth to get rid of the cavity. Avoid consuming sugary foods and
                        drinks. You can go for dental sealants as well.
                    </p>
                </div>
            </div>  <div class="set">
                <a href="javascript:void(0);">
                    What Happens If I Need An Intramuscular Or Intravenous Injection?
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Maintain the oral hygiene by regular brushing and flossing your
                        teeth to get rid of the cavity. Avoid consuming sugary foods and
                        drinks. You can go for dental sealants as well.
                    </p>
                </div>
            </div>  <div class="set">
                <a href="javascript:void(0);">
                    What If I Need Anaesthesia?
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Maintain the oral hygiene by regular brushing and flossing your
                        teeth to get rid of the cavity. Avoid consuming sugary foods and
                        drinks. You can go for dental sealants as well.
                    </p>
                </div>
            </div>  <div class="set">
                <a href="javascript:void(0);">
                    What Happens If I Need A Prescription?
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Maintain the oral hygiene by regular brushing and flossing your
                        teeth to get rid of the cavity. Avoid consuming sugary foods and
                        drinks. You can go for dental sealants as well.
                    </p>
                </div>
            </div>  <div class="set">
                <a href="javascript:void(0);">
                    Insurance And Billing
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Maintain the oral hygiene by regular brushing and flossing your
                        teeth to get rid of the cavity. Avoid consuming sugary foods and
                        drinks. You can go for dental sealants as well.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>