
.ph-header{
    box-shadow: 0px 3px 10px #0000001F;
}
.ph-header .headerFirstleft .ph-patientLogin svg{
    width: 15px; 
    vertical-align: middle;
    margin-right: 5px;
}

.ph-header .headerFirstleft{
background-color: #1E2F3F;
display: flex;
justify-content: end;
align-items: center;
font-size: 12px;
width: 80%;
height: 40px;
text-transform: uppercase;

}
.ph-header .headerFirstleft span{
    padding: 0 15px;
    
}
.ph-header .headerFirstleft span a{
    color: #fff;
    text-decoration: none;
}
.ph-header .headerFirstleft span select{
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(0 0 0 / 0%);
    border: none;
}
.ph-header .headerFirstleft span select option{
    color: #000;
}
.ph-header .headerFirstright{
    background-color: #DB2C4A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 20%;
    height: 40px;
    color: #fff;
}
.ph-header .headerFirstright span{
    padding: 0 15px;
}
.ph-header .headerFirstOuter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter-Medium";
}

.ph-header .headerSecondOuter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
}
.ph-header .headerSecondOuter .headerSearchBox form.example input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #E5E5E5;
    float: left;
    width: 80%;
    background: #fff;
    font-family: "Inter-Regular";
  }
  
  .ph-header .headerSecondOuter .headerSearchBox form.example button {
    float: left;
    width: 20%;
    padding: 9px;
    background: #B0CC82;
    color: white;
    font-size: 17px;
    border: 1px solid #B0CC82;
    border-left: none;
    cursor: pointer;
  }
  
  .ph-header .headerSecondOuter .headerSearchBox form.example button:hover {
    background: #B0CC82;
  }
  
  .ph-header .headerSecondOuter .headerSearchBox form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .ph-header .headerThirdOuter{
    width: 90%;
    margin: auto;
  }
  .ph-header .headerThirdOuter .ph-mob-logo{
    display: none;
            }

  @media only screen and (max-width: 1400px) {
.ph-header .headerFirstleft {
    width: 75%;
}
.ph-header .headerFirstright{
    width: 25%;
}
}

@media only screen and (max-width: 1050px) {
    .ph-header .headerFirstleft {
        width: 70%;
    }
    .ph-header .headerFirstright{
        width: 30%;
    }
    .ph-header .headerSecondOuter .headerSearchBox form.example button {
        float: left;
        width: 20%;
        padding: 9px;
    }
    
    }

    @media only screen and (max-width: 800px) {
        .ph-header .headerFirstleft {
            width: 50%;
        }
        .ph-header .headerFirstright{
            width: 50%;
        }
        .ph-header .headerThirdOuter .toggle-mob{
            display: inline-block;
            float: right;
            margin-top: 5px;
            background-color: #1e2f3f;
        }
        .ph-header .headerSecondOuter{
            display: none;
        }
        .ph-header .headerThirdOuter .ph-mob-logo{
            display: inline-block;
            width: 90px;
        }
        /* .ph-header .headerThirdOuter {
            width: 90%;
            padding: 10px 15px;
        } */
        }

        @media only screen and (max-width: 700px) {
            .ph-header .headerFirstleft {
                width: 30%;
            }
            .ph-header .headerFirstright {
                width: 70%;
            }
            .ph-header .headerFirstright {
                font-size: 10px;
            }
            .ph-header .headerFirstleft {
                font-size: 10px;
            }
            .ph-header .headerThirdOuter .ph-mob-logo {
                display: inline-block;
                width: 65px;
            }
            
        
    }
  