.ph-footer{
    background-color: #1E2F3F;
    color: #D9F5FD;
    font-family: "Inter-Regular";
    padding: 50px 0;
    font-size: 14px;
}
.ph-footer .ph-footerOuter .ph-footerText p:nth-child(1){
    font-size: 20px;
    font-family: "Inter-Bold";
}

.ph-footer .ph-footerOuter .ph-footerText{
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.ph-footer .ph-footerOuter .ph-footerLink{
    padding: 10px;
}
.ph-footer .ph-footerOuter .ph-footerLink .ph-footerLinkText{
text-transform: uppercase;
margin-bottom: 20px;
}
.ph-footer .ph-footerOuter .ph-footerLink ul{
    list-style: none;
    text-align: left;
    padding: 0;
}
.ph-footer .ph-footerOuter .ph-footerLink ul li a{
    color: #D9F5FD;
    text-decoration: none;
}
.ph-footer .ph-footerinner{
    align-items: flex-start;
}
.ph-footer .ph-footerinner .ph-footerAddr select{
    margin-bottom: 20px;
    background-color: rgb(255 255 255 / 0%);
    padding: 15px;
    border: 2px solid;
    width: 100%;
}
.ph-footer .ph-footerinner .ph-footerAddr select option{
    color: #000;
}
.ph-footer .ph-footerinner .ph-footerAddr p{
    border-bottom: 1px solid #00BBF2;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.ph-footer .ph-footerinner .ph-footerAddr{
    width: 25%;
}
.ph-footer .ph-footerinner .ph-footerAddr .ph-footerLogo{
    text-align: right;
}
.ph-footer .ph-footerinner .ph-footerAddr .ph-footerLogo img{
    padding: 10px;
    width: 100px;
}
.ph-footer .ph-footerCopyright{
    margin-top: 20px;
}
.ph-footer .ph-footerCopyright .ph-copyright01{
    font-size: 10px;
    font-family: "Inter-Medium";
}
.ph-footer .ph-footerCopyright .ph-footericon{
width: 11%;
}
.ph-footer .ph-footerCopyright .ph-footericon img{
    width: 15px;
}

@media only screen and (max-width: 800px) {
    .ph-footer .ph-footerinner .ph-footerAddr {
        width: 35%;
    }
}
@media only screen and (max-width: 700px){
    .ph-container-flax{
        display: block;
    }
    .ph-footer .ph-footerinner .ph-footerAddr{
        width: 100%;
    }
    .ph-footer .ph-footerCopyright,
    .ph-footer .ph-footerCopyright .ph-footericon{
        display: flex;
    }
    .ph-footer .ph-footerCopyright .ph-footericon{
        width: 30%;
    }
}