.abt-group-section{
    width: 90%;
    margin: auto;
}
.company-brand{
    display: flex;
    margin: 40px 0;
    width: 100%;
    
}

.company-brand .company-logo{
    background-color: #E5E5E5;
    width: 30%;
    height: 260px;
    text-align: center;
}
.company-logo img{
   padding: 40px 50px;
}
.company-brand .company-dec{
    background-color: #F5F5F5;
    padding: 25px 20px;
    width: 70%;
    height: 260px;
}

.company-dec .companytext{
    font-size: 14px;
    color: #000000;
    font-family: "Inter-Regular";
    padding: 5px 0;
}
.companytext a{
    text-decoration: none;
    color: #58B9ED;
}
/* media query */

@media only screen and (max-width: 1200px) {
    .company-brand{
        display: block;
    }
    .company-brand .company-logo{


        width: 100%;
        
    }
    .company-logo img{
        padding: 40px 0;
    }
  .company-brand  .company-dec{
        width: 100%;
        word-wrap: break-word;
        overflow: auto;
        
    }
    .company-dec .companytext{
       
    }
}

@media only screen and (max-width: 800px) {
 

}
@media only screen and (max-width: 650px) {
 
}