<app-title [name]="customTitle"> </app-title>
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>About</span>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Our Achivements</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<div class="our-achive-section">
    <div class="dr-abt-right">
        <div class="set">
            <a href="javascript:void(0);">
                Paras Hospitals, Gurgaon
                <i class="fa fa-plus"></i>
            </a>
            <div class="content ourmain-section">
                <div class="our-section-left">
                    <img src="assets/images/paras-hospital-gurgaon.png" alt="" />
                    <p>
                        Paras Healthcare believes in penetration and association with the
                        community at the grass root level. We believe that quality care
                        should be uncompromised and affordable. We move forward with the
                        vision that doctors, nurses, management together act as the torch
                        bearers of quality healthcare delivery-symbiosis of all entities
                        ensures that excellence is achieved and delivered.
                    </p>
                </div>
                <div class="our-section-right">
                    <ul>
                        <li>First corporate hospital of Gurgaon  First
                             First to successfully perform
                           </li>
                        <li>First Hospital of Gurgaon to be NABH accredited</li>
                        <li> NABL accredited lab and blood bank in Gurgaon</li>
                        <li> Paras Hospitals , Gurgaon is the first
                            neuroscience centre in the region that operates on deep seated tumours.</li>
                        <li>Paras Hospitals,
                            Gurgaon is the first private hospital of Delhi NCR region to have a stand alone image guided
                            tumour navigation surgery technology.</li>
                        <li> Paras Hospitals, Gurgaon is the only hospital of the
                            region to advocate Transradial Interventional cardiology</li>
                        <li> India’s first day care angioplasty</li>
                        <li>Awarded the Best Healthcare Campaign for Breast Feeding
                            Rooms in Public Places at Six Sigma Healthcare Awards Function 2015.</li>
                        <li> Director Neurosciences, Paras Hospitals, Gurgaon awarded “Lifetime Achievement Award” at 6th
                            MT India Healthcare Awards 2016 presented by Medgate Today.</li>
                        <li> Awarded Best Hospital for
                            Neurosurgery and Neurology in Delhi NCR at Times Achievers Awards 2017</li>
                            <li>  Awarded the Best
                                Hospital for Neurosurgery and Neurology for International Patients in FICCI Medical Value
                                Travel Event 2017</li>
                            <li>  Dr. (Prof.) V.S.Mehta,
                                Paras Hospitals, Gurgaon wins the most trusted hospital from Readers
                                 Digest for Orthopedics Care</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras HMRI Hospital, Patna
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <p>
                    Professor- Department of Radiodiagnosis, PGIMER,Chandigarh Incharge-
                    Interventional Neuroradiology, PGIMER, Chandigarh
                </p>
            </div>
        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras Global Hospital, Darbhanga
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <p>
                    Pellentesque aliquam ligula libero, vitae imperdiet diam porta vitae.
                    sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div>
        </div>
        <div class="set">
            <a href="javascript:void(0);">
                Paras Bliss, Panchkula
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <p>
                    Donec tincidunt consectetur orci at dignissim. Proin auctor aliquam
                    justo, vitae luctus odio pretium scelerisque.
                </p>
            </div>
        </div>
    </div>
</div>