<app-title [name]="customTitle"> </app-title>

<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                    <a href="/">Home</a>
                    <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Information Hub</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>

<div class="ph-container">
    <label>Filter by:</label>
    <select name="" id="" class="form-select info-select ">
        <option value="">Infographics</option>
        <option value="">.</option>
        <option value="">..</option>

    </select>
    <hr>
    <div class="info-box">
        <div class="row info-row">
            <div class="col-xl-6 info-col col-md-6 col-sm-6 ">
                <h2>Lung Cancer Awareness</h2>
                <div class="video-img">
                    <img src="assets/images/video1.png" alt="">
                </div>
                <a href="javascript:void(0);"> <i class="fa fa-play play-icon" aria-hidden="true"></i></a>

            </div>
            <div class="col-xl-6 info-col col-md-6 col-sm-6  ">
                <h2>Ways To Reduce Your Risk Of Getting Cancer</h2>
                <div class="video-img">
                    <img src="assets/images/video2.png" alt="">
                </div>
                <a href="javascript:void(0);"> <i class="fa fa-play play-icon" aria-hidden="true"></i></a>

            </div>
            <div class="col-xl-6 info-col col-md-6 col-sm-6 ">
                <h2>How To Keep Kids Mentally And Physically Fit During COVID-19 <i
                        class="fa fa-share-alt float-end share" aria-hidden="true"></i>
                </h2>
                <div class="video-img">
                    <img src="assets/images/video3.png" alt="">
                </div>
                <a href="javascript:void(0);"> <i class="fa fa-play play-icon" aria-hidden="true"></i></a>
            </div>
            <div class="col-xl-6 info-col col-md-6 col-sm-6 ">
                <h2>Tips To Reduce Risk Prostate Cancer <i class="fa fa-share-alt float-end share"
                        aria-hidden="true"></i>
                </h2>
                <div class="video-img">
                    <img src="assets/images/video4.png" alt="">
                </div>
                <a href="javascript:void(0);"> <i class="fa fa-play play-icon" aria-hidden="true"></i></a>
            </div>
            <div class="col-xl-6 info-col col-md-6 col-sm-6 ">
                <h2>Being Pregnant During this Pandemic Can Make You Anxious <i class="fa fa-share-alt float-end share"
                        aria-hidden="true"></i>
                </h2>
                <div class="video-img">
                    <img src="assets/images/video5.png" alt="">
                </div>
                <a href="javascript:void(0);"> <i class="fa fa-play play-icon" aria-hidden="true"></i></a>
            </div>
            <div class="col-xl-6 info-col col-md-6 col-sm-6 ">
                <h2>What are the warning signs of a Heart Attack <i class="fa fa-share-alt float-end share"
                        aria-hidden="true"></i>
                </h2>
                <div class="video-img">
                    <img src="assets/images/video6.png" alt="">
                </div>
                <a href="javascript:void(0);"> <i class="fa fa-play play-icon" aria-hidden="true"></i></a>
            </div>


        </div>
    </div>
</div>