.info-select{
    width: 30%;
    padding: 15px 10px;
    font-size: 16px;
    font-family: "Inter-Regular";
}
.info-box{

    margin: 25px 0;
}
.info-row .info-col{
    margin: 15px 0px;

    
    
}
.info-col img{
    width: 100%;
    border-bottom: 3px solid #00BBF2;
    /* opacity: 0.5; */
}
.info-col h2{
    background-color: #E7F0D9;
    margin: 0;
    height: 75px;
    padding: 10px 25px 30px 25px;
    font-size: 20px;
    word-break: break-all;
    font-family: "Inter-Bold";
}
.share{
    color: #00BBF2;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.info-col .play-icon{
    position: absolute;
    top: 57%;
    right: 46%;
    color: white;
    background-color: #00BBF2;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
}
.video-img{
    background-color: black;
}