
<app-title-banner [name]="customTitle" [image]="customImage" [bgColor]="customColor">

</app-title-banner>
<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                <a href="/">Home</a>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>CoE</span>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>Neurology</span>
                </p>
            </nav>
        </div>
    </div>
</section>
<!-- common ends -->


<div class="doctor-section">
    <div class="dr-abt-section">
        <div class="dr-abt-left">
            <div class="dr-contact text-center">
                <img class="dr-app-ph-img" src="assets/images/appointment01.png" alt="">
                <p class="dr-opd">Appointments</p>
                <p class="dr-opd-name"><span class="time"> We're here for you. <br> Call us at +91 1244 585555 or </span>
                </p>
                <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);">Book an appointment</a>
                <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);">Find a doctor</a>
                <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);">Find a Location</a>
            </div>
            <div class="dr-contact">
                <p class="dr-opd">Centre of Excellence</p>
                <ul class="dr-opd-name">
                    <li><a href="javascript:void(0);">Neurology</a></li>
                    <li><a href="javascript:void(0);">Neurosurgery </a></li>
                    <li><a href="javascript:void(0);">Cardiology </a></li>
                    <li><a href="javascript:void(0);">Cardiac Surgery </a></li>
                    <li><a href="javascript:void(0);">Bariatric Surgery </a></li>
                    <li><a href="javascript:void(0);">Cancer Care </a></li>
                    <li><a href="javascript:void(0);">Orthopaedics & Joint Replacements </a></li>
                    <li><a href="javascript:void(0);">Gastroenterology & GI Surgery</a></li>
                    <li><a href="javascript:void(0);">Kidney Transplant</a></li>
                </ul>
            </div>
        </div>
        <div class="dr-abt-right cd-rightMainDiv">
            <p class="cd-aboutCanText">About Brain Cancer</p>
            <p class="cd-theGrowthText">The growth of malignant cells in the brain tissue that interferes with brain functions such as memory muscle control, sensation and other normal body functions lead to brain cancer. There are two types of tumor formed due to growth of cancer cells; a) Malignant Tumors, which is a cancerous tumor; and b) Benign tumors, which is non cancerous. Not all tumors are similar, so these are assigned different grades:</p>
            <ul class="cd-theGrowthText">
                <li>Grade I: Normal looking brain cells that grow slowly. The tissue is benign. </li>
                <li>Grade II: The cells look less like normal cells than do the cells in a grade I tumor. The tissue is malignant. </li>
                <li>Grade III: The malignant tissue with abnormal cells which grow actively </li>
                <li>Grade IV: The malignant tissue has cells that look the most abnormal and have a tendency to grow quickly.</li>
            </ul>
            <p class="cd-theGrowthText">Based on cell type and grade, doctors define cancer stage, which ranges from 0-4. Stage 4 indicates cancer has spread to other organs.</p>
            <hr>
            <div class="cd-bccdiv">
                <p class="cd-bccdText">Brain Cancer Causes:</p>
                <p class="cd-theGrowthText">The exact cause of brain cancer is not known. But there are certain risk factors that may cause the growth of cancerous cells. These are:</p>

                <div class="cd-bccd001">
                   <div class="ph-container-flax">
                        <img src="assets/images/playBtn.png" alt="">
                        <p>Radiation to the head</p>
                   </div>
                </div>
                <div class="cd-bccd001">
                    <div class="ph-container-flax">
                         <img src="assets/images/playBtn.png" alt="">
                         <p>HIV infection</p>
                    </div>
                 </div>
                 <div class="cd-bccd001">
                    <div class="ph-container-flax">
                         <img src="assets/images/playBtn.png" alt="">
                         <p>Environmental toxins (for instance, chemicals in oil refineries, embalming chemicals, rubber industry chemicals)</p>
                    </div>
                 </div>
                 <div class="cd-bccd001">
                    <div class="ph-container-flax">
                         <img src="assets/images/playBtn.png" alt="">
                         <p>An inherited (genetic) risk</p>
                    </div>
                 </div>
                 <div class="cd-bccd001">
                    <div class="ph-container-flax">
                         <img src="assets/images/playBtn.png" alt="">
                         <p>Cigarette smoking</p>
                    </div>
                 </div>
                
            </div>
            <hr>
            <div class="cd-symhowTo ph-container-flax" style="align-items: stretch;">
                <div class="cd-symhowtoOuter">
                    <div class="cd-sympBgColor ph-container-flax">
                        <img src="assets/images/symp02.png" alt="">
                        <p>Symptoms</p>
                    </div>
                    <p class="cd-theGrowthText">Symptoms of brain cancer depend on the grade and stage of the cancer. However, there are several early signs of brain cancer, some of which are:</p>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Radiation to the head</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Difficulty walking and/or dizziness</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Seizures</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Headaches</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Nausea</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Vomiting</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Blurry vision</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Hallucination (in certain cases)</p>
                        </div>
                    </div>
                    <div class="cd-secondFlax">
                        <div class="cd-thirdFlax ph-container-flax">
                            <img src="assets/images/playBtnWhite.png" alt="">
                            <p>Change in a person’s alertness, mental capacity, memory, speech, or personality</p>
                        </div>
                    </div>
                </div>
                <div class="cd-symhowtoOuter">
                    <div class="cd-sympBgColor ph-container-flax" style="background-color: #b0cc82;">
                        <img src="assets/images/symp01.png" alt="">
                        <p>How to prevent?</p>
                    </div>
                    <p class="cd-theGrowthText">There is no remedy for brain cancer prevention. However, if diagnosed in an early stage, treatment can help in reducing the risk of metastatic brain tumors.</p>
                    <div class="cd-secondFlax">
                        <a class="ph-link" href="javascript:void(0);">Book an appointment <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                    </div>
                    <div class="cd-secondFlax">
                        <a class="ph-link" href="javascript:void(0);">Contact us <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                    </div>
                    
                    
                </div>
            </div>


        </div>
    </div>
</div>

