.ph-banner .ph-bannerOuter{
    background-color: #B0CC82;
}
.ph-banner .ph-bannerOuter .ph-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.ph-banner .ph-bannerOuter .ph-bannerLeft{
    width: 40%;
    padding: 0 30px 0 0;
}
.ph-banner .ph-bannerOuter .ph-bannerRight{
    width: 60%;
    background-color: #00BBF2;
}

.ph-banner .ph-bannerOuter .ph-bannerLeft p{
    font-family: "Inter-Bold";
    font-size: 40px;
    color: #000;
    margin: 0;
    line-height: 1.3;
    text-transform: capitalize;
}
.ph-banner .ph-bannerOuter .ph-bannerLeft a{
    border: 1px solid #1E2F3F;
    color: #1E2F3F;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 17px;
    margin-top: 13px;

}

@media only screen and (max-width: 770px) {
.ph-banner .ph-bannerOuter .ph-bannerLeft p {
    font-size: 20px;
}
}
@media only screen and (max-width: 767px) {
    .ph-banner .ph-bannerOuter .ph-bannerLeft{ width: 100%; text-align: center; padding: 20px;}
    .ph-banner .ph-bannerOuter .ph-bannerRight{ width: 100%;}
    .ph-banner .ph-bannerOuter .ph-container{ padding: 0;}
    .ph-banner .ph-bannerOuter .ph-bannerLeft p {
        font-size: 16px;
    }
}
