.ph-commonTitle .ph-commonTitleLeft{
    background-color: #B0CC82;
    width: 95%;
    text-align: center;
}
.ph-commonTitle .ph-commonTitleLeft p{
    margin: 0;
    font-size: 28px;
    font-family: "Inter-Bold";
    color: #000;
    padding: 35px;
}
.ph-commonTitle .ph-commonTitleRight{
    background-color: #00BBF2;
    width: 5%;
    text-align: center;
}
.ph-commonTitle .ph-commonTitleOuter{
    justify-content: stretch;
    align-items: stretch;
}