<section class="ph-commonTitle ph-container">
    <div class="ph-container-flax ph-commonTitleOuter">
        <div class="ph-commonTitleLeft ">
            <p>{{name}}</p>
        </div>
        <div class="ph-commonTitleRight">
            
        </div>
    </div>
</section>
