.doctor-section {
  width: 90%;
  margin: auto;
}

.dr-abt-section {
  display: flex;
}
.dr-abt-left {
  width: 20%;
}
.dr-abt-right {
  width: 80%;
  padding: 0 25px;
}

.dr-abt-section .dr-abt-left .dr-contact {
  background-color: #f5f5f5;
  padding: 20px 20px;
  border-bottom: 4px solid #00bbf2;
  margin-bottom: 20px;
}
.dr-abt-section .dr-abt-left .dr-schedule .dr-opd {
  font-size: 20px;
  font-family: "Inter-Bold";
}
.dr-abt-section .dr-abt-left .dr-contact .dr-opd {
  font-size: 20px;
  font-family: "Inter-Bold";
}

.dr-abt-section .dr-opd-name {
  font-size: 14px;
  font-family: "Inter-Bold";
}
.dr-abt-section ul.dr-opd-name {
  list-style: none;
  padding: 0;
  font-family: "Inter-Medium";
}

/* right section */

.right-details {
  font-size: 16px;
  font-family: "Inter-Regular";
  margin-bottom: 15px;
}
.content-title {
  margin: 25px 0;
  background-color: #d9f5fd;
  padding: 20px 15px;
  font-size: 20px;
  font-family: "Inter-Bold";
}

.content-img-section img {
  width: 50%;
  padding-right: 15px;
  margin-bottom: 20px;
}

/* media query */
@media only screen and (max-width: 992px) {

    .dr-abt-section{
        display: block;
    }
    .dr-abt-left{
        width: 100%;
    }
    .dr-abt-right{
        width: 100%;
    }
}
