<app-title [name]="customTitle"> </app-title>
<section class="ph-container ph-beardCIcons">
  <div class="ph-container-flax beardCIconsOuter">
    <div class="ph-beardCIconsLeft">
      <nav class="rank-math-breadcrumb-example">
        <p>
          <a href="/">Home</a>
          <span class="separator"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></span>
          <span>Blog</span>
          <!-- <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span>Our Achivements</span> -->
        </p>
      </nav>
    </div>
    <div class="ph-beardCIconsRight">
      <a href="javascript:void(0);">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<div class="blog-section">
  <div class="blog-section-left">
    <div class="dr-contact">
      <p class="dr-opd">Categories</p>
      <ul class="dr-opd-name">
        <li><a href="javascript:void(0);"> Bariatric Surgery (14)</a></li>
        <li><a href="javascript:void(0);">Black Fungus (5) </a></li>
        <li><a href="javascript:void(0);"> Bone Marrow transplant (3) </a></li>
        <li><a href="javascript:void(0);">Cardiac Surgery (71) </a></li>
        <li><a href="javascript:void(0);"> Cardiology (101) </a></li>
        <li><a href="javascript:void(0);">Covid Vaccination (5) </a></li>
        <li>
          <a href="javascript:void(0);"> Critical Care (5) </a>
        </li>
        <li><a href="javascript:void(0);">Dental (24)</a></li>
        <li><a href="javascript:void(0);"> Dermatology (35)</a></li>

        <li><a href="javascript:void(0);"> Dialysis Support Group (12)</a></li>
        <li><a href="javascript:void(0);"> Dietitian (33)</a></li>
        <li><a href="javascript:void(0);">  Emergency
            Medicine (9)</a></li>
        <li><a href="javascript:void(0);"> Emotional Health (11)</a></li>
        <li><a href="javascript:void(0);">  Endocrinology (40)</a></li>
        <li><a href="javascript:void(0);"> ENT (26)</a></li>
        <li><a href="javascript:void(0);">  Gastroenterology and GI
            Surgery (58)</a></li>
        <li><a href="javascript:void(0);">   General and Laparoscopic Surgery (27) General Surgery (4)</a></li>

      </ul>
    </div>
  </div>
  <div class="blog-section-right">
      <div class="blog-card-details">
      <div class="blog-card">
     <div class="blog-img">
         <img src="assets/images/blog-1.png" alt="">.
     </div>
     <div class="blog-details">
         <p class="blog-date">
            10 June 2021
         </p>
         <h2 class="blog-desc-name">
            Black Fungus’ or
         </h2>
         <h2 class="blog-desc-name">
            medically ‘Mucormycosis’
         </h2>
         <p class="blog-dr-name">
            Dr. P N Gupta
         </p>
         <p class="blog-dr-posit">
            Director & HOD – Nephrology
         </p>
         <p class="blog-dr-location">
            Paras Hospitals, Gurgaon
         </p>
         <a routerLink="/blog-detail" class="read-more">
             Read Blog
         </a>
     </div>
    </div>
    <div class="blog-card">
        <div class="blog-img">
            <img src="assets/images/blog-4.png" alt="">.
        </div>
        <div class="blog-details">
            <p class="blog-date">
               10 June 2021
            </p>
            <h2 class="blog-desc-name">
                Mucormycosis – Prevention, 
            </h2>
            <h2 class="blog-desc-name">
                Symptoms and Treatment
            </h2>
            <p class="blog-dr-name">
               Dr. P N Gupta
            </p>
            <p class="blog-dr-posit">
               Director & HOD – Nephrology
            </p>
            <p class="blog-dr-location">
               Paras Hospitals, Gurgaon
            </p>
            <a routerLink="/blog-detail" class="read-more">
                Read Blog
            </a>
        </div>
       </div>
    </div>
    <div class="blog-card-details">
        <div class="blog-card">
       <div class="blog-img">
           <img src="assets/images/blog-2.png" alt="">.
       </div>
       <div class="blog-details">
           <p class="blog-date">
              10 June 2021
           </p>
           <h2 class="blog-desc-name">
            Understanding the Treatment 
           </h2>
           <h2 class="blog-desc-name">
            Process for Mucormycosis
           </h2>
           <p class="blog-dr-name">
              Dr. P N Gupta
           </p>
           <p class="blog-dr-posit">
              Director & HOD – Nephrology
           </p>
           <p class="blog-dr-location">
              Paras Hospitals, Gurgaon
           </p>
           <a routerLink="/blog-detail" class="read-more">
               Read Blog
           </a>
       </div>
      </div>
      <div class="blog-card">
          <div class="blog-img">
              <img src="assets/images/blog-3.png" alt="">.
          </div>
          <div class="blog-details">
              <p class="blog-date">
                 10 June 2021
              </p>
              <h2 class="blog-desc-name">
                How To Identify Sign and 
              </h2>
              <h2 class="blog-desc-name">
                Symptoms of Black Fungus
              </h2>
              <p class="blog-dr-name">
                 Dr. P N Gupta
              </p>
              <p class="blog-dr-posit">
                 Director & HOD – Nephrology
              </p>
              <p class="blog-dr-location">
                 Paras Hospitals, Gurgaon
              </p>
              <a routerLink="/blog-detail" class="read-more">
                  Read Blog
              </a>

              
          </div>
          
         </div>
       
     
        </div>

        <hr style="width: 90%; margin:10px 50px;">
     <div class="result">
        <span class="blog-result">
     <b>   13</b> results
      </span>
                   
                <span class="button-group float-end">    
                    <button class=" one">1</button>
                    <button class="page">2</button>
                    <button class="page">3</button>
                    <button class="page">Last</button></span>
                </div>
  </div>
</div>
