<app-title [name]="customTitle"></app-title>

<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                <a href="/">Home</a>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>Doctors</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<!-- common ends -->

<section class="ph-drListings ph-container">
    <div class="ph-drListingsOuter row">
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
           <div class="ph-drSearchOuter">
            <form class="example" action="" style="margin:auto;">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit">
                    <svg style="width: 15px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                </button>
            </form>
            <p class="ph-shortBy">Sort by:</p>

            <select name="" id="" class="ph-drSearchSelect">
                <option value="">Department</option>
            </select>
            <select name="" id="" class="ph-drSearchSelect">
                <option value="">Speciality</option>
            </select>
            <select name="" id="" class="ph-drSearchSelect">
                <option value="">Location</option>
            </select>
            <button class="ph-drSearchBtn ph-btn" type="button">Search</button>
            <button class="ph-drResetBtn ph-btn" type="button">Reset Filter</button>
           </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 ph-sm-custom">
            <div class="ph-drListinginner" >
                <img  src="assets/images/dr01.png" alt="">
                <p routerLink="/doctors-detail" class="ph-drListName">Dr. (Prof.) Vivek Gupta</p>
                <p class="ph-drListposition">Associate Consultant <br> Neurology</p>
                <p>Paras Hospitals, Panchkula</p>
                <a class="ph-btn ph-bookAppointment" href="javascript:void(0);">Book appointment</a>
            </div>
        </div>
    </div>
</section>
