.patient-section{
    width: 90%;
    margin:  50px auto;
    
}

.patient-box{
    display: flex;
    margin: 20px;
    width: 100%;
}
.patient-login{
    /* background-color: burlywood; */
    width: 50%;
    padding: 50px 100px;
}
.patient-login h5{
    font-size: 14px;
    font-family: "Inter-Medium";
}
.patient-login h3{
    font-size: 32px;
    font-family: "Inter-Bold";
}
.patient-login form{
    border-bottom: 2px solid#E5E5E5;
    width: 100%;
}
.patient-login form .form-group input{
    border-radius: 2px;
    border: 1px solid #888888;
    width: 384px;
    padding: 20px 15px;
    font-size: 16px;
}
.patient-login form .form-group input::placeholder{
    font-size: 16px;
    font-family: "Inter-Regular";
}



form .forgot-pass{
    text-decoration: none;
    color: #00BBF2;
    font-family: "Inter-Medium";
    text-transform: uppercase;
    font-size: 12px;
}
.checkbox label{
    font-size: 14px;
    font-family: "Inter-Regular";
}

form .button-submit{
    background-color: #1E2F3F;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 10px 60px;
    font-size: 16px;
    font-family: "Inter-Regular";
    margin-bottom: 20px;

}
.patient-account {
margin-top: 20px;
}

.patient-account span{
    font-size: 16px;
    font-family: "Inter-Regular";
    color: #000000;
}
.patient-account .Login-create{
    border: none;
    font-family: "Inter-Regular";
font-size: 16px;
    background-color: #00BBF2;
    color: white;
    padding: 10px 40px;
    border-radius: 2px;
    margin-left: 10px;
}
.patient-img-box{   
    width: 50%;
}
.patient-portal .patient-img{
    display: flex;
}

.patient-box .patient-img .patient-img-box .portal-heading,.patient-login{
    font-size: 14px;
    font-family: "Inter-Bold";
    padding: 20px 10px 5px 30px;

}
.patient-box .patient-img .patient-img-box .patient-points{
    font-size: 14px;
    font-family: "Inter-Bold";
    padding:0 10px 5px 30px ;
}
/* Media query */
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1050px) {
    .patient-box{
        display: block;
    }
    .patient-box .patient-login{
        width: 100%;
        /* text-align: center; */
        /* background-color: yellow; */
        
    }
    .patient-portal .patient-img{
        width: 100%;
        margin-top: 20px;
    }
    .patient-img .patient-img-box img{
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
 

}
@media only screen and (max-width: 650px) {
    .patient-portal .patient-img{
        display: block;
        margin-top: 0;
    }
    .patient-img .patient-img-box{
        width: 100%;
    }
    .patient-box .patient-img .patient-img-box .portal-heading,.patient-login{
       
        margin-top: 20px;
    }
    .patient-img{
        margin: 0 0px;
    }

}