
<app-title [name]="customTitle"></app-title>

<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                <a href="/">Home</a>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>About</span>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>Our Ideology</span>
                </p>
            </nav>
        </div>
        <div class="ph-beardCIconsRight">
            <a href="javascript:void(0);">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
<!-- common ends -->

<div class="about-section">
    <div class="about-idea-box">
        <div class="about-box-1">
            
            <div class="abt-text">
                <img src="assets/images/abt1.png" alt="" />
                <h4 class="abt-msg">
                    Specialized tertiary medical care services at affordable prices
                </h4>
            </div>
        </div>
        <div class="about-box-2">
            <img src="assets/images/abt2.png" alt="" />
            <div class="abt-content">
                <h3 class="abt-msg">Our Ideology</h3>
                <p class="abt-para">
                    Paras Healthcare was established in 2006, with the mission of
                    providing specialized tertiary medical care services at affordable
                    prices to under served communities across the country. This private
                    healthcare provider stands apart from others in it’s vision of making
                    healthcare for all a reality for ordinary people in rural and remote
                    regions.
                </p>

                <p class="abt-para">
                    Every single individual working in a ‘Paras’ Hospital- from doctors to
                    nurses and the management- is united in the endeavour to deliver top
                    quality healthcare to all. Paras Healthcare is a leader in
                    establishing specialized hospitals in places that lack access to
                    healthcare, specifically super specialty tertiary care. Each of it’s
                    initiative is based on three tenets of healthcare- Affordability,
                    Accessibility & Quality.
                </p>
            </div>
        </div>
    </div>
</div>

    <app-our-hospitals></app-our-hospitals>
<div class="about-section">
    <div class="abt-data">
        <h4 class="abt-head">What do we aim for in the future?</h4>

        <p class="abt-desc">
            The expansion strategy of Paras Healthcare has been broken into two
            Phases; Phase 1 is from 2015 to 2020 and Phase 2 is from 2021 to 2028.
            Expansion will primarily be in Tier 2 cities of the North Indian
            Hindi-speaking belt. “Our target is cities with a population of 2m+ that
            have a Medical College,” highlights Dr. Dharminder Nagar, Managing
            Director, Paras Healthcare. The focus will be on establishing tertiary
            care centers that focus on Oncology, Cardiology, Orthopedics and
            Neurology. These will evolve into specialized transplant centers.</p>           
           
           <p class="abt-desc"> By 2020,
            Paras Healthcare intends to establish tertiary healthcare facilities in
            other Tier 2 and Tier 3 cities too, to bridge the gap between demand and
            supply. “Five years from now we will have a bed strength of 1500. This
            year we expect to have the group revenue cross 500 crore, and that should
            become 1000-1200 crores within the next 5 years with additional beds,
            services and hospitals being added,” says Dr. Nagar. Partnerships with
            private and governmental organizations are in the offing. “We are in talks
            with many governmental agencies for a chain of cancer institutes and
            tertiary care centres and also with private companies keen on
            collaborating in operations and management of hospitals,” he says. </p>
            
           <p class="abt-bold">At the
            moment, Paras Healthcare is strictly focusing on its new chain of
            specialized mother and child care centres – Paras Bliss. The aim is to
            provide specialized maternity and neonatology care in areas where the same
            is deficient. Our units in Panchkula, New Delhi highlight the 3 tenets of
            Paras Healthcare – affordability, accessibility and quality. Keeping the
            same in mind Paras Healthcare shall be expanding its footprint in the next
            5 years in 6 important cities of North India.</p> 
            
          <p class="abt-desc">  For setting up a new unit,
            Paras mainly adheres to its three tenets of healthcare – present
            accessibility of healthcare in the region, presence of affordable
            healthcare at the location and last existence of a specialized quality
            healthcare provider. If any of the aspects can be addressed, Paras
            Healthcare participates in providing exceptional healthcare facilities
            that can touch the lives of millions and improve the health infra of the
            state/region. </p>
            
            
          <p class="abt-desc">  
            Paras Healthcare works on the principle of bridging the gap.
            By providing exceptional medical expertise, infrastructure and technology
            to areas that lack the same, Paras is able to initiate a healthcare
            revolution in the rural areas. Paras Patna, Paras Darbhanga, Paras Guragon
            along with Paras Panchkula are examples to highlight the same.
        </p>
    </div>

    <div class="about-foot">
        <div class="ph-mkimagerOuter1">
            <img src="assets/images/abt3.png" alt="">
            <a class="ph-playLink" href="javascript:void(0);"><i class="fa fa-play" aria-hidden="true"></i>A film about Paras Hospitals</a>
            <div class="ph-divbgGradiant"></div>
        </div>
        <!-- <img src="assets/images/abt3.png" alt=""> -->
      <div class="about-foot-msg">
          <p>Our mission is to provide the best quality medical service with utmost responsibility and compassion</p>
          <button class="direct-msg">
            Managing Director’s Message
          </button>
      </div>
    </div>
</div>