.about-section {
  width: 90%;
  margin: auto;
}
.about-idea-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
    align-items: flex-start;
}

.about-idea-box .about-box-1 {
  width: 39%;
}
.ph-networkHospital{
  width: 100%;
}
.about-box-1 img {
  /* margin: 0 10px; */
  width: 100%;
}
.about-box-2 img {
  width: 100%;
}
.about-box-1 .abt-msg {
  width: 70%;
  font-size: 20px;
  padding: 15px;
  margin: 0;
  background-color: #b0cc82;
  font-family: "Inter-Bold";
}
.about-box-1 .abt-text {
  background-color: #00bbf2;
}

.about-idea-box .about-box-2 {
  width: 60%;
}

.about-box-2 .abt-content {
  padding: 20px;
}

.about-box-2 .abt-msg {
  font-size: 24px;
  font-family: "Inter-Bold";
}
.about-box-2 .abt-para {
  font-size: 16px;
  font-family: "Inter-Regular";
  color: #000000;
}
.our-hospital {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.our-hospital .our-box1 {
  /* width: 200px; */
}
.our-hospital .our-boxes {
  width: 300px;
  padding: 10px 0;
}
.our-hospital .our-box1 {
  width: 190px;
}
.our-box1 img {
  width: 100%;
}
.our-boxes a {
  border-top: 2px solid #e5e5e5;
  display: block;
  padding: 10px 20px;
  color: #00bbf2;
  text-decoration: none;
  font-size: 12px;
  margin-top: 30px;
}
.our-boxes .box-msg {
  font-size: 40px;
  font-family: "Inter-Bold";
  padding: 0px 20px;
}
.our-box1 p {
  font-size: 14px;
  font-family: "Inter-Medium";
  color: #000000;
  padding:10px 5px 0 5px
}

.our-box1 a{
    color: #00BBF2;
    font-size: 12px;
  font-family: "Inter-Medium";
  text-decoration: none;
  padding: 10px 10px;
 

}
.abt-data{
    margin-bottom: 100px;
}
.abt-data .abt-head{
    font-size: 24px;
  font-family: "Inter-Bold";
  color: #000000;
  padding: 10px 0;

}
.abt-data .abt-desc{
    font-size: 16px;
  font-family: "Inter-Regular";
  padding: 10px 0;
    
}
.abt-data .abt-bold{
    font-size: 16px;
    font-family: "Inter-Bold";
  padding: 10px 0;

}
.about-foot{
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
    margin-bottom: 50px;
    
}
.about-foot{
    position: relative;
}
.about-foot {
    width: 90%;
    margin: auto;
    /* background: transparent linear-gradient(180deg, #0077B700 0%, #0077B7 100%) 0% 0% no-repeat padding-box; */
    
}
.about-foot .about-foot-msg p{
    font-size: 20px;
    font-family: "Inter-Bold";
    width: 40%;
    margin: 0 auto;

}
.about-foot .direct-msg{
    border:none;
    background-color: #1E2F3F;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px 0;
}
.ph-mkimagerOuter1{
    width: 100%;   
    margin: 20px;
    position: relative;
}
.ph-mkimagerOuter1 img{
width: 90%;
background: transparent linear-gradient(180deg, #0077B700 0%, #0077B7 100%) 0% 0% no-repeat padding-box;
margin-top: -60px;

}
.ph-playLink{
    color: #fff;
    font-size: 14px;
    font-family: "Inter-Regular";
    position: absolute;
    bottom: 50px;
    left: 120px;
    text-decoration: none;
    z-index: 1;

}

.ph-playLink i{
    color: #fff;
    font-size: 16px;
    background: #00BBF2;
    border-radius: 117px;
    width: 37px;
    height: 37px;
    vertical-align: middle;
    margin-right: 10px;
    padding: 11px 13px;
}
.ph-divbgGradiant{
    background: transparent linear-gradient(
        180deg, #0077B700 0%, #0077B7 100%) 0% 0% no-repeat padding-box;
        width: 90%;
        height: 90px;
        bottom: 0px;
        opacity: 0.5;
        margin: -89px auto;
}
.about-foot-msg{
  margin-top: 120px;
}
/* media query */

@media only screen and (max-width: 768px) {
    
  .about-idea-box{
      display: block;
  }
  .about-idea-box .about-box-1{
      width: 100%;
  }
  .about-idea-box .about-box-2{
      width: 100%;
  }
  .our-hospital{
      display: flex;
      flex-direction: column;
  }
  .our-hospital .our-boxes{
      width: 100%;
      text-align: center;
  }
  .our-hospital .our-box1{
      width: 80%;
      margin: 15px auto;
      text-align: center;
      padding: 0px 0 20px 0;
  }
  }
  @media only screen and (max-width: 650px) {
   
  
  
  }