<app-title-banner [name]="customTitle" [image]="customImage">
</app-title-banner>
<!-- common -->
<section class="ph-container ph-beardCIcons">
  <div class="ph-container-flax beardCIconsOuter">
    <div class="ph-beardCIconsLeft">
      <nav class="rank-math-breadcrumb-example">
        <p>
          <a href="/">Home</a>
          <!-- <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>CoE</span> -->
          <span class="separator"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></span>
          <span>Tooth Decay</span>
        </p>
      </nav>
    </div>
  </div>
</section>
<!-- common ends -->

<div class="doctor-section">
  <div class="dr-abt-section">
    <div class="dr-abt-left">
      <div class="dr-contact text-center">
        <img
          class="dr-app-ph-img"
          src="assets/images/appointment01.png"
          alt=""
        />
        <p class="dr-opd">Appointments</p>
        <p class="dr-opd-name">
          <span class="time">
            We're here for you. <br />
            Call us at +91 1244 585555 or
          </span>
        </p>
        <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);"
          >Book an appointment</a
        >
        <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);"
          >Find a doctor</a
        >
        <a class="ph-btn ph-bookAppointment01" href="javascript:void(0);"
          >Find a Location</a
        >
      </div>
      <div class="dr-contact">
        <p class="dr-opd">Treatments & Procedures</p>
        <ul class="dr-opd-name">
          <li><a href="javascript:void(0);"> Cardiac Sciences</a></li>
          <li>
            <a href="javascript:void(0);">Nephrology (Kidney) & Urology </a>
          </li>
          <li><a href="javascript:void(0);"> Neurosciences </a></li>
          <!-- <li><a href="javascript:void(0);">Cardiac Surgery </a></li> -->
          <li>
            <a href="javascript:void(0);">Orthopaedics & Joint Replacement </a>
          </li>
          <li>
            <a href="javascript:void(0);">Plastic Surgery & Dermatology </a>
          </li>
          <!-- <li>
            <a href="javascript:void(0);">Orthopaedics & Joint Replacements </a>
          </li> -->
          <li>
            <a href="javascript:void(0);">Spine Services</a>
          </li>
          <!-- <li><a href="javascript:void(0);">Kidney Transplant</a></li> -->
        </ul>
      </div>
    </div>
    <div class="dr-abt-right">
      <div class="set">
        <a href="javascript:void(0);">
          Tooth Decay
          <i class="fa fa-plus"></i>
        </a>
        <div class="content">
          <p>
            This is a kind of damage that generally occurs in the young adults
            and the children because of their wrong food habits. Tooth decay is
            generally known as Cavity, and this is also one of the common causes
            of tooth loss in the young people. This is one of the most chronic
            childhood diseases. Your tooth can be decayed completely or
            partially because of that. You can have holes inside the tooth, or
            your teeth can be broken due to that.
          </p>
        </div>
      </div>
      <div class="set">
        <a href="javascript:void(0);">
          Sign And Symptoms
          <i class="fa fa-plus"></i>
        </a>
        <div class="content">
          <p>
            This is the second-most common oral health issue that can make your
            life miserable. In general, there is no symptom of the cavity. This
            is the condition in which most of the time people cannot understand
            that their tooth is damaged until they visit their dentist. However,
            a prevalent symptom of the cavity is having a tooth that becomes
            sensitive to cold and hot or sweet dishes. A kind of sensation can
            be felt whenever you eat or drink such types of foods.
            <br /><br />
            When you eat such foods then due to the development of the decay,
            you can feel extreme pain in your gum and the entire face including
            your ears and neck.
          </p>
        </div>
      </div>
      <div class="set">
        <a href="javascript:void(0);">
          Causes And Risks
          <i class="fa fa-plus"></i>
        </a>
        <div class="content">
          <p>
            Bacteria in the mouth are the main cause of getting cavities. Apart
            from that eating starch diet is another cause.
          </p>
        </div>
      </div>
      <div class="set">
        <a href="javascript:void(0);">
          Treatment And Management
          <i class="fa fa-plus"></i>
        </a>
        <div class="content">
          <p>
            Maintain the oral hygiene by regular brushing and flossing your
            teeth to get rid of the cavity. Avoid consuming sugary foods and
            drinks. You can go for dental sealants as well.
          </p>
        </div>
      </div>
      <!-- <div class="dr-patient">
                        <div class="comment">
                            <h3 class="p-comment">Related Blogs</h3>
                            <div class="ph-departBlogs ph-container-flax">
                                <div class="ph-deprtBlogsOuter ">
                                    <div class="ph-dprtBlogsInner ph-container-flax">
                                        <img src="assets/images/prelz21a.png" alt="">
                                        <p>Vaccines and functional neurological disorder: A complex story, say experts</p>
                                    </div>
                                    
                                </div>
                                <div class="ph-deprtBlogsOuter ">
                                    <div class="ph-dprtBlogsInner ph-container-flax">
                                        <img src="assets/images/7dhmffn6.png" alt="">
                                        <p>Vaccines and functional neurological disorder: A complex story, say experts</p>
                                    </div>
                                    
                                </div>
                                <div class="ph-deprtBlogsOuter ">
                                    <div class="ph-dprtBlogsInner ph-container-flax">
                                        <img src="assets/images/fy1pjwz8.png" alt="">
                                        <p>Vaccines and functional neurological disorder: A complex story, say experts</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <a class="ph-departViewAll ph-link" href="javascript:void(0);">View All <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></a>
                        </div>
        
                    </div> -->
    </div>
  </div>
</div>
