
.ph-ceofexSlider{
    margin-top: 50px;
    position: relative;
    padding-bottom: 50px;
    border-bottom: 1px solid #E5E5E5;
}
.ph-ceofexSlider .ph-centerofExc{
font-size: 24px;
font-family: "Inter-Bold";
color: #000;
margin-bottom: 20px;
}
.ph-ceofexSlider .ph-itemSlider img{
    width: 45px;
    margin-bottom: 20px;
    height: 50px;
}
.ph-ceofexSlider .ph-itemSlider{
    background-color: #D9F5FD;
    padding: 25px;
}
.ph-ceofexSlider .ph-itemSlider p{
    color: #1E2F3F;
    font-size: 14px;
    font-family: "Inter-Bold";
    text-transform: uppercase;

}


@media only screen and (max-width: 1400px) {
    .ph-ceofexSlider .ph-itemSlider p {
        font-size: 12px;
}

}
@media only screen and (max-width: 1300px) {
    .ph-ceofexSlider .ph-itemSlider p {
        font-size: 11px;
}
}
@media only screen and (max-width: 700px){
    .ph-ceofexSlider .ph-centerofExc {
        font-size: 18px;
    }
    
}