.about-md-section{
    width: 90%;
    margin: auto;
}


.about-md-box {
    display: flex;
    /* margin: 30px 50px; */
  }
  .about-md-box .md-img {
    position: relative;
    width: 50%;
  }
 
  .about-md-box .md-desc {
    background-color: #d9f5fd;
    padding: 25px 80px;
    width: 50%;
    /* margin-left: -40px; */
    margin-top: 40px;
    margin-left: -80px;
  }
  
  .md-desc .md-story {
    font-size: 28px;
    font-family: "Inter-Bold";
    letter-spacing: -0.6px;
  }
  .md-desc .md-name {
    font-size: 14px;
    font-family: "Inter-Medium";
    padding-top: 15px;
  }
  .md-letter .md-greet{
      font-size: 24px;
      font-family: "Inter-Bold";
      padding: 15px 10px;

  }
  
  .md-letter .md-welcome{
      font-size: 16px;
      font-family: "Inter-Bold";
      padding: 10px 10px;

  }
  .md-letter .md-letter-desc{
      font-size: 16px;
      font-family: "Inter-Regular";
      padding: 15px 10px;
  }
 
  .md-letter .md-ceo{
      font-size: 20px;
      font-family: "Inter-Bold";
      padding: 0px 10px;

  }

  /* media query */

  @media only screen and (max-width: 1050px) {
   .about-md-box{
       display: block;
   }
   .about-md-box .md-img{
       width: 100%;
   }
   .about-md-box .md-desc{
       width: 100%;
       margin: 0;
   }
}

@media only screen and (max-width: 650px) {
    .about-md-box .md-desc{
       padding: 10px 15px;
       word-break: break-all;
    }
    .md-letter .md-letter-desc{
        font-size: 16px;
        font-family: "Inter-Regular";
        padding: 15px 5px;
        word-break: break-all;
    }

}