.info-select{
    width: 30%;
    padding: 15px 10px;
    font-size: 16px;
    font-family: "Inter-Regular";
}
.info-box{
    border-top: 3px solid #B0CC82;
    margin: 25px 0;
}
.info-row .info-col{
    margin: 15px 0px;

    
    
}
.info-col img{
    width: 100%;
    border-bottom: 3px solid #00BBF2;
}
.info-col h2{
    background-color: #D9F5FD;
    margin: 0;
    height: 70px;
    padding: 10px 25px 30px 25px;
    font-size: 20px;
    font-family: "Inter-Bold";
}
.share{
    color: #00BBF2;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}