
<app-title-banner [name]="customTitle" [image]="customImage" [bgColor]="customBgColor" textColor="customTxtColor">

</app-title-banner>
<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                <a href="/">Home</a>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>App</span>
                </p>
            </nav>
        </div>
    </div>
</section>
<!-- common ends -->

<section class="featured-section-1">
<div class="ph-container">
    <div class="app-feature-list">
        <ul>
            <li>
                <div class="feature--card">
                    <div class="icon">
                        <img src="assets/images/icons/book-apointment-icon.jpg" alt="">
                    </div>
                    <div class="meta">
                        <div class="h6">Book Appointments</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature--card">
                    <div class="icon">
                        <img src="assets/images/icons/pay-online-icon.jpg" alt="">
                    </div>
                    <div class="meta">
                        <div class="h6">Pay Online</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature--card">
                    <div class="icon">
                        <img src="assets/images/icons/online-consult-icon.jpg" alt="">
                    </div>
                    <div class="meta">
                        <div class="h6">Online Consultation Video/Text</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature--card">
                    <div class="icon">
                        <img src="assets/images/icons/health-record-icon.jpg" alt="">
                    </div>
                    <div class="meta">
                        <div class="h6">View Health Records</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature--card">
                    <div class="icon">
                        <img src="assets/images/icons/health-checkup-icon.jpg" alt="">
                    </div>
                    <div class="meta">
                        <div class="h6">Book Health Checkup</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</section>
<section class="getstarted-section">
    <div class="ph-container">
        <div class="h4 txt-get-started-holder">Get Started On Our Mobile App In 3 Easy Steps</div>
        <div class="row gx-5">
                <div class="col-sm-4">
                    <div class="easy-step-card">
                        <div class="step-badge h4">Step 1</div>
                        <div class="txt-holder">
                            <p>In your mobile phone, go to app store or play store and search Paras Healthmate. You can also scan the QR code below</p>
                        </div>
                        <div class="img-holder">
                            <img src="assets/images/paras-app-screen-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="easy-step-card">
                        <div class="step-badge h4">Step 2</div>
                        <div class="txt-holder">
                            <p>Install the app on your phone</p>
                        </div>
                        <div class="img-holder">
                            <img src="assets/images/paras-app-screen-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="easy-step-card">
                        <div class="step-badge h4">Step 2</div>
                        <div class="txt-holder">
                            <p>Just enter your communication email and password of your choice</p>
                        </div>
                        <div class="img-holder">
                            <img src="assets/images/paras-app-screen-3.jpg" alt="">
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </section>

    <section class="featured-section-2">
        <div class="ph-container">
            <div class="featured-row">
                <div class="feature-row-inner d-flex align-items-center justify-content-between flex-wrap">
                                <div class="featured-txt-holder order--2">
                                    <div class="h3">Doctor’s Appointments In Seconds</div>
                                    <p>Find the right doctor based</p>
                                </div>
                            <div class="img-holder order--1">
                                <img src="assets/images/paras-app-screen-4.jpg" alt="">
                            </div>
                </div>
            </div>
            <div class="featured-row featured-row-2">
                <div class="feature-row-inner d-flex align-items-center justify-content-between flex-wrap">
                            <div class="featured-txt-holder">
                                <div class="h3">Chat With A Doctor</div>
                                <p>Too busy or lazy to go to the clinic? Chat with your doctor online any time of the day</p>
                            </div>
                        <div class="img-holder">
                            <img src="assets/images/paras-app-screen-5.jpg" alt="">
                        </div>
                  </div>
            </div>
            <div class="featured-row">
                <div class="feature-row-inner d-flex align-items-center justify-content-between flex-wrap">
                            <div class="featured-txt-holder order--2">
                                <div class="h3">Healthy History In Your Pocket</div>
                                <p>Upload Prescription medical reports etc. to keep them safe and handy.</p>
                            </div>
                        <div class="img-holder order--1">
                            <img src="assets/images/paras-app-screen-6.jpg" alt="">
                        </div>
                    </div>
            </div>

            <div class="download-paras-app">
                <a href="#">
                    <img src="assets/images/google-play.jpg" alt="">
                </a>
                <a href="#">
                    <img src="assets/images/app-store.jpg" alt="">
                </a>
            </div>
        </div>
        </section>



