.special-section{
    margin: auto;
    width: 90%;
}
.special-row{
    margin-bottom: 20px;
}
.special-row .special-box{
    background-color: #F5F5F5;
    width: 300px;
    margin: 10px auto;
    padding: 15px 10px;
    border-bottom: 4px solid rgb(7, 189, 242);
}
.special-box .special-text{
    font-size: 15px;
    font-family: "Inter-Medium";
    padding-top:10px ;
}
.special-box a{
    text-decoration: none;
    color: #000000;
}