<!-- common -->
<section class="ph-container ph-beardCIcons">
    <div class="ph-container-flax beardCIconsOuter">
        <div class="ph-beardCIconsLeft">
            <nav class="rank-math-breadcrumb-example">
                <p>
                <a href="/">Home</a>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>Doctors</span>
                <span class="separator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>Details</span>
                </p>
            </nav>
        </div>
    </div>
</section>
<!-- common ends -->

<div class="doctor-section">
    <div class="doc-box">
        <div class="doctor-intro">
            <div class="doc-name">
                <div class="doc-img">
                    <img src="assets/images/doctor01.png" alt="" />
                </div>
                <div class="doc-desc">
                    <h3 class="dr-name">Dr. (Prof.) Vivek Gupta</h3>
                    <p class="dr-position">
                        Associate Director & Head Interventional Neuroradiology
                    </p>
                    <p class="dr-position">
                        <b class="dr-bold">Location:</b> Paras Hospitals, Panchkula
                    </p>

                    <div class="dr-rating">
                        4.8
                        <div class="Stars" style="--rating: 3.5" aria-label="Rating of this product is 2.3 out of 5.">
                        </div>
                        <span class="dr-review">Based on total reviews</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-consult">
            <button class="opd">OPD Consultation</button>
            <button class="opd">Video Consultation</button>
            <button class="opd">Text Consultation</button>
            <button class="review">Leave a review</button>
        </div>
    </div>
    <div class="dr-abt-section">
        <div class="dr-abt-left">
            <div class="dr-schedule">
                <p class="dr-opd">OPD schedule</p>
                <p class="dr-opd-name">Dr. (Prof.) Vivek Gupta</p>
                <p class="dr-opd-name">
                    Time : <span class="time"> 9:00 am to 5:00 pm </span>
                </p>
                <p class="dr-opd-name">
                    Days :<span class="time"> Monday to Saturday </span>
                </p>
            </div>
            <!-- <div class="dr-schedule text-center">
                <p class="dr-opd"><i class="fa fa-times-circle" aria-hidden="true"></i>
                </p>
                <p class="dr-opd-name">Currently NOT accepting new patients</p>
               
            </div> -->
            <div class="dr-contact">
                <p class="dr-opd">Contact details</p>
                <p class="dr-opd-name">
                    Location : <span class="time"> Panchkula </span>
                </p>
                <p class="dr-opd-name">
                    Phone :<span class="time"> 0172-5294455 </span>
                </p>
                <button class="review">Get Directions</button>
            </div>
        </div>
        <div class="dr-abt-right">
            <div class="set">
                <a href="javascript:void(0);">
                    About Dr. (Prof.) Vivek Gupta
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Dr. (Prof.) Vivek Gupta is a leading Interventional Neuroradiologist
                        of the country .He has rich experience of more that 15 years in
                        diagnosing and managing Neuro-vascular conditions like Cerebral
                        Aneurysms, Arterio-Venous Malformations, Acute Stroke, Carotid
                        Stenosis etc.
                    </p>
                    <p>
                        Previously he was Professor and in-charge of Interventional
                        Neuroradiology at PGIMER Chandigarh. He was instrumental in
                        initiation and development of the Neurointervention section at
                        PGIMER Chandigarh where he worked for more that 14 years. He has
                        been the first one in this region to start several new techniques in
                        the field of minimally invasive treatment of cerebral aneurysms and
                        acute stroke including Flow Diversion for Cerebral Aneurysms. He is
                        among the very few specialist in the country who is doing
                        intra-arterial chemotherapy /embolizations in children less than 1
                        year of age.
                    </p>

                    <p>
                        He has also pioneered research in the field of stem cell therapy in
                        acute stroke which has been published in reputed American journals.
                        He has treated hundreds of patient with various vascular
                        malformations of head and neck.
                    </p>
                </div>
            </div>
            <div class="set">
                <a href="javascript:void(0);">
                    Previous Experience
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Professor- Department of Radiodiagnosis, PGIMER,Chandigarh Incharge-
                        Interventional Neuroradiology, PGIMER, Chandigarh
                    </p>
                </div>
            </div>
            <div class="set">
                <a href="javascript:void(0);">
                    Education and Fellowships
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Pellentesque aliquam ligula libero, vitae imperdiet diam porta
                        vitae. sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
            </div>
            <div class="set">
                <a href="javascript:void(0);">
                    Specialty Interests
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Donec tincidunt consectetur orci at dignissim. Proin auctor aliquam
                        justo, vitae luctus odio pretium scelerisque.
                    </p>
                </div>
            </div>
            <div class="set">
                <a href="javascript:void(0);">
                    Professional Memberships
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Donec tincidunt consectetur orci at dignissim. Proin auctor aliquam
                        justo, vitae luctus odio pretium scelerisque.
                    </p>
                </div>
            </div>
            <div class="set">
                <a href="javascript:void(0);">
                    Awards and Honors
                    <i class="fa fa-plus"></i>
                </a>
                <div class="content">
                    <p>
                        Donec tincidunt consectetur orci at dignissim. Proin auctor aliquam
                        justo, vitae luctus odio pretium scelerisque.
                    </p>
                </div>
            </div>
            <div class="dr-patient">
                <div class="comment">
                    <h3 class="p-comment">PATIENT COMMENT (5)</h3>
                    <div class="dr-rating">
                        4.8
                        <div class="Stars" style="--rating: 3.5" aria-label="Rating of this product is 2.3 out of 5.">
                        </div>
                    </div>
                </div>
                    <div class="commentbox-1 bg-white shadow">
                        <div class="dr-rating">
                        
                            <div class="Stars" style="--rating: 3.5"
                                aria-label="Rating of this product is 2.3 out of 5."></div>
                            <span class="dr-review">January 30, 2020</span>
                            <div class="customer-img">
                                <img src="assets/images/cust1.png" alt="">
                                <div class="cust-review">
                                <h5 class="cust-name">Sanjana from Karnal, Haryana</h5>
                                <h6 class="cust-words">Such a good experience, described each and every thing very clearly and very polite to the patients.</h6></div>
                            </div>
                        </div>
                    </div>
                    <div class="commentbox-1 bg-white shadow">
                        <div class="dr-rating">
                        
                            <div class="Stars" style="--rating: 3.5"
                                aria-label="Rating of this product is 2.3 out of 5."></div>
                            <span class="dr-review">November 17, 2019</span>
                            <div class="customer-img">
                                <img src="assets/images/cust2.png" alt="">
                                <div class="cust-review">
                                <h5 class="cust-name">Sanjana from Karnal, Haryana</h5>
                                <h6 class="cust-words">Such a good experience, described each and every thing very clearly and very polite to the patients.</h6></div>
                            </div>
                        </div>
                    </div>

                    <button class="review">Leave a Review</button>
                   
                <span class="button-group float-end">    
                    <button class=" one">1</button>
                    <button class="page">2</button>
                    <button class="page">3</button>
                    <button class="page">Last</button></span>

            </div>
        </div>
    </div>
</div>