.ph-banner .ph-bannerOuter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B0CC82;
}
.ph-banner .ph-bannerOuter .ph-bannerLeft{
    width: 40%;
    padding: 0 10%;
}
.ph-banner .ph-bannerOuter .ph-bannerRight{
    width: 60%;
    background-color: #00BBF2;
}
.ph-banner .ph-bannerOuter .ph-bannerRight img{
    width: 85%;
}

.ph-banner .ph-bannerOuter .ph-bannerLeft p{
    font-family: "Inter-Bold";
    font-size: 40px;
    color: #000;
    line-height: 1.3;
    text-transform: capitalize;
}
.ph-banner .ph-bannerOuter .ph-bannerLeft a{
    border: 1px solid #1E2F3F;
    color: #1E2F3F;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 17px;
    margin-top: 13px;

}

.ph-appDoc .ph-appDocOuter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    margin-top: 40px;
}
.ph-appDoc .ph-appDocOuter .ph-appDocInner {
    background-color: #F5F5F5;
    border-bottom: 3px solid #00BBF2;
    padding: 35px;
    width: 31%;
}
.ph-appDoc .ph-appDocOuter .ph-appDocInner .pg-bookAppText{
    font-size: 20px;
    font-family: "Inter-Bold";
}
.ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-howcanwe{
    font-size: 16px;
    font-family: "Inter-Regular";
}
.ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-appDocSelect{
    font-family: "Inter-Regular";
    font-size: 16px;
    width: 100%;
    border: 1px solid #E5E5E5;
    padding: 11px;
}
.ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate a:nth-child(1){
font-size: 16px;
font-family: "Inter-Regular";
color: #fff;
background-color: #1E2F3F;
padding: 15px 30px;
display: inline-block;
text-decoration: none;
}

.ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate a:nth-child(2){
    font-size: 12px;
    color: #00BBF2;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter-Medium";
}
.ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate a:nth-child(2) svg{
    width: 8px;
    vertical-align: middle;
    margin-left: 4px;
}

.ph-ceofexSlider{
    margin-top: 50px;
    position: relative;
    padding-bottom: 50px;
    border-bottom: 1px solid #E5E5E5;
}
.ph-ceofexSlider .ph-centerofExc{
font-size: 24px;
font-family: "Inter-Bold";
color: #000;
margin-bottom: 20px;
}
.ph-ceofexSlider .ph-itemSlider img{
    width: 45px;
    margin-bottom: 20px;
    height: 50px;
}
.ph-ceofexSlider .ph-itemSlider{
    background-color: #D9F5FD;
    padding: 25px;
}
.ph-ceofexSlider .ph-itemSlider p{
    color: #1E2F3F;
    font-size: 14px;
    font-family: "Inter-Bold";
    text-transform: uppercase;

}



.ph-makeDiffinP{
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #E5E5E5;
}
.ph-makeDiffinP .ph-mkDiffLeft{
    width: 36%;
    color: #000;
    padding-right: 35px;
}
.ph-makeDiffinP .ph-mkDiffRight{
    width: 64%;
}
.ph-makeDiffinP .ph-mkDiffLeft .ph-mkadiffPea{
    font-size: 40px;
    font-family: "Inter-Bold";
    margin-bottom: 20px;
}
.ph-atthebestpri{
    font-size: 16px;
    font-family: "Inter-Regular";
    margin-bottom: 20px;
}
.ph-btn{
    font-size: 16px;
    font-family: "Inter-Regular";
    background-color: #1E2F3F;
    padding: 12px 30px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner{
    align-items: flex-end;
}
.ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner.ph-itemTop{
    align-items: flex-start
}
.ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-mkimagerOuter1{
    width: 60%;   
    margin: 20px;
    position: relative;
}
.ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-mkimagerOuter1 img,
.ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-mkimagerOuter2 img{
    width: 100%;
    background: transparent linear-gradient(180deg, #0077B700 0%, #0077B7 100%) 0% 0% no-repeat padding-box;
}

.ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-mkimagerOuter2{
    width: 40%;
    margin: 20px;
    position: relative;
}
.ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink{
    color: #fff;
    font-size: 14px;
    font-family: "Inter-Regular";
    position: absolute;
    bottom: 20px;
    left: 30px;
    text-decoration: none;
    z-index: 1;

}
.ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink i{
    color: #fff;
    font-size: 16px;
    background: #00BBF2;
    border-radius: 117px;
    width: 37px;
    height: 37px;
    vertical-align: middle;
    margin-right: 10px;
    padding: 11px 13px;
}
.ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-divbgGradiant{
    background: transparent linear-gradient(
        180deg, #0077B700 0%, #0077B7 100%) 0% 0% no-repeat padding-box;
            width: 100%;
            height: 90px;
            position: absolute;
            bottom: 0px;
            opacity: 0.5;
}

.ph-networkHospital .ph-netHospitalLeft .ph-ourNetHos01{
font-size: 40px;
font-family: "Inter-Bold";
padding: 10% 30px;
color: #000;
border-bottom: 1px solid #E5E5E5;
height: 80%;
}
.ph-networkHospital{
    margin-top: 80px;
    padding-bottom: 50px;
    border-bottom: 1px solid #E5E5E5;
}
.ph-networkHospital .ph-netHospitalLeft{
    box-shadow: 0px 3px 10px #00000012;
    width: 25%;
    margin-right: 40px;
    margin-bottom: 15px;
}
.ph-networkHospital .ph-netHospitalLeft a{
    font-size: 12px;
    color: #00BBF2;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter-Medium";
    display: inline-block;
    margin: 20px 40px;
}
.ph-networkHospital .ph-netHospitalLeft a svg{
    width: 8px;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -3px;
}
.ph-networkHospital .ph-netHospitalRight{
width: 73%;
}

.ph-networkHospital .ph-netHospitalRight .ph-itemSlider{
    box-shadow: 0px 3px 10px #00000012;
    margin-bottom: 15px;
}
.ph-networkHospital .ph-netHospitalRight .ph-itemSlider .ph-hospName{
font-size: 14px;
font-family: "Inter-Medium";
color: #000;
margin-bottom: 25px;
}
.ph-networkHospital .ph-netHospitalRight .ph-itemSlider  a{
    font-size: 12px;
    color: #00BBF2;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter-Medium";
    display: inline-block;
}
.ph-networkHospital .ph-netHospitalRight .ph-itemSlider  a svg{
    width: 8px;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -3px;
}
.ph-networkHospital .ph-netHospitalRight .ph-itemSlider .ph-knwParas01{
padding: 25px;
}
.ph-awardsAndRec{
    margin-top: 50px;
}
.ph-networkHospital .ph-netHospitalOuter{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.ph-awardsAndRec .ph-awardFirst{
    width: 32%;
}

.ph-awardsAndRec .ph-awardFirst .ph-awardInnerText{
background-color: #B0CC82;
padding: 30px;
}
.ph-awardsAndRec .ph-awardFirst .ph-awardInnerText p{
    font-size: 24px;
    font-family: "Inter-Bold";
    color: #000;
    margin-bottom: 20px;
}
.ph-awardsAndRec .ph-awardFirst .ph-awardInnerText a{
    color: #000;
    font-size: 12px;
    font-family: "Inter-Medium";
    text-decoration: none;
    text-transform: uppercase;
}
.ph-awardsAndRec .ph-awardFirst .ph-awardInnerText a svg{
    width: 7px;
}
.ph-awardsAndRec .ph-awardFirst img{
    width: 100%;
}
.ph-awardBorderOuter .ph-awardBorderLeft{
width: 80%;
height: 3px;
background-color: #B0CC82;
}
.ph-awardBorderOuter .ph-awardBorderRight{
    width: 20%;
    height: 3px;
    background-color: #00BBF2;

    }
    .ph-awardBorderOuter{
        width: 100%;
        margin-top: 50px;
    }

.ph-blogs .ph-blogSlider .ph-blogSliderleft{
width: 60%;
box-shadow: 0px 3px 10px #00000012;
}

.ph-blogs .ph-blogSlider .ph-blogSliderRight{
    width: 40%;
    padding: 0 30px;
}

.ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText01{
    color: #000;
    font-size: 12px;
    font-family: "Inter-Medium";
    margin-bottom: 20px;
}
.ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText02{
    font-size: 20px;
    font-family: "Inter-Bold";
    color: #000;
    margin-bottom: 20px;
}

.ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText03{
    font-size: 14px;
    font-family: "Inter-Regular";
    color: #000;
    margin-bottom: 40px;
}
.ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogsReadMore{
    font-size: 12px;
    color: #00BBF2;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter-Medium";
    display: inline-block;
}
.ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogsReadMore svg{
    width: 8px;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -3px;
}
.ph-blogs .ph-blogSlider{
    align-items: flex-start;
}
.ph-blogs{
    border-bottom: none;
}
.ph-testimonial .ph-testimonialOuter{
    justify-content: center;
    align-items: flex-start;
}
.ph-testimonial .ph-testimonialOuter .ph-testFirst01{
    padding: 10px;
}
.ph-testimonial .ph-testimonialOuter .ph-testFirst01 i{
    font-size: 90px;
    color: #B0CC82;
}
.ph-testimonial .ph-testimonialOuter .ph-testSecond01{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-family: "Inter-Regular";
    color: #000;
    margin-bottom: 10px;
    width: 28%;
}
.ph-testimonial .ph-testimonialOuter .ph-testSecond01 p:nth-child(2){
    font-size: 14px;
    font-family: "Inter-Medium";
    color: #000;
}
.ph-testimonial .ph-testimonialOuter .ph-testThird01{
    width: 15%;
}
.ph-testimonial .ph-testimonialOuter .ph-testThird01 img{
    width: 100%;
}
.ph-testimonial{
    margin-top: 90px;
}


@media only screen and (max-width: 1600px) {
.ph-banner .ph-bannerOuter .ph-bannerLeft {
    width: 40%;
    padding: 0 8%;
}

}

@media only screen and (max-width: 1400px) {
    .ph-ceofexSlider .ph-itemSlider p {
        font-size: 12px;
}
.ph-networkHospital .ph-netHospitalRight .ph-itemSlider .ph-hospName {
    font-size: 12px;
}
.ph-banner .ph-bannerOuter .ph-bannerLeft {
    width: 40%;
    padding: 0 5%;
}
.ph-blogs .ph-blogSlider .ph-blogSliderRight {
    width: 40%;
    padding: 0 30px;
    padding-right: 0;
}
.ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText01,
.ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText02,
.ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText03{
    margin-bottom: 10px;
}
}
@media only screen and (max-width: 1300px) {
    .ph-ceofexSlider .ph-itemSlider p {
        font-size: 11px;
}
.ph-testimonial .ph-testimonialOuter .ph-testSecond01 {
    width: 39%;
}

}

@media only screen and (max-width: 1050px) {
    .ph-appDoc .ph-appDocOuter .ph-appDocInner {
        padding: 20px;
    }
    .ph-networkHospital .ph-netHospitalLeft .ph-ourNetHos01 {
        font-size: 26px;
    }
    .ph-banner .ph-bannerOuter .ph-bannerLeft p {
        font-size: 25px;
    }
    .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate a:nth-child(1) {
        padding: 13px 23px;
    }
    .ph-makeDiffinP .ph-mkDiffLeft .ph-mkadiffPea {
        font-size: 25px;
    }
    .ph-atthebestpri {
        font-size: 14px;
    }
    .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-mkimagerOuter2,
    .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-mkimagerOuter1{
        margin: 5px;
    }
    .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink i {
        font-size: 12px;
        width: 30px;
        height: 30px;
        padding: 10px 12px;
    }
    .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink {
        font-size: 12px;

    }
    .ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText02 {
        font-size: 13px;
    }
    .ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogText03 {
        font-size: 10px;
    }
    .ph-blogs .ph-blogSlider .ph-blogSliderRight .ph-blogsReadMore {
        font-size: 10px;
    }
    .ph-testimonial .ph-testimonialOuter .ph-testSecond01 {
        font-size: 13px;
    }
    .ph-testimonial .ph-testimonialOuter .ph-testSecond01 p:nth-child(2) {
        font-size: 12px;
    }
    .ph-testimonial .ph-testimonialOuter .ph-testFirst01 i {
        font-size: 50px;
    }
    .ph-testimonial .ph-testimonialOuter .ph-testThird01 {
        width: 20%;
    }
    .ph-awardsAndRec .ph-awardFirst .ph-awardInnerText p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .ph-blogs .ph-blogSlider {
        display: block;
    }
    .ph-blogs .ph-blogSlider .ph-blogSliderleft,
    .ph-blogs .ph-blogSlider .ph-blogSliderRight{
        width: 100%;
    }
    .ph-appDoc .ph-appDocOuter .ph-appDocInner .pg-bookAppText {
        font-size: 15px;
        font-family: "Inter-Bold";
    }
    .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate {
        display: block;
    }
    .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate a:nth-child(1) {
        padding: 13px 23px;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .ph-awardsAndRec .ph-awardFirst .ph-awardInnerText p {
        font-size: 17px;
    }
    .ph-testimonial .ph-testimonialOuter .ph-testThird01 {
        width: 30%;
    }
    .ph-networkHospital .ph-netHospitalLeft a {
        margin: 10px 25px;
    }
}

@media only screen and (max-width: 700px){
    .ph-banner .ph-bannerOuter,
    .ph-appDoc .ph-appDocOuter{
        display: block;
    }
    .ph-banner .ph-bannerOuter .ph-bannerLeft,
    .ph-banner .ph-bannerOuter .ph-bannerRight,
    .ph-appDoc .ph-appDocOuter .ph-appDocInner,
    .ph-makeDiffinP .ph-mkDiffLeft,
    .ph-makeDiffinP .ph-mkDiffRight,
    .ph-networkHospital .ph-netHospitalLeft,
    .ph-networkHospital .ph-netHospitalRight,
    .ph-awardsAndRec .ph-awardFirst{
        width: 100%;
    }
    .ph-awardsAndRec .ph-awardFirst{
        margin-bottom: 30px;
    }
    .ph-awardBorderOuter{
        display: flex !important;
    }
    .ph-networkHospital .ph-netHospitalLeft{
        margin-bottom: 70px;
    }
    .ph-networkHospital .ph-netHospitalRight .ph-itemSlider .ph-knwParas01 {
        padding: 10px;
    }
    .ph-banner .ph-bannerOuter .ph-bannerLeft{
        padding: 20px;
    }
    .ph-appDoc .ph-appDocOuter .ph-appDocInner{
        margin-bottom: 20px;
    }
    .ph-ceofexSlider .ph-centerofExc {
        font-size: 18px;
    }
    .ph-container-flax,
    .ph-networkHospital .ph-netHospitalOuter{
        display: block;
    }
    .ph-makeDiffinP .ph-mkDiffLeft{
        padding-right: 0;
    }
    .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner {
        align-items: flex-end;
        display: flex;
    }
    .ph-makeDiffinP .ph-mkDiffRight{
        margin-top: 20px;
    }
    .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink {
        font-size: 10px;
        bottom: 10px;
        left: 10px;
    }
    .ph-makeDiffinP .ph-mkDiffRight .ph-mkdiffImageinner .ph-playLink i {
        font-size: 10px;
        width: 20px;
        height: 20px;
        padding: 5px 7px;
    }
    .ph-networkHospital .ph-netHospitalLeft .ph-ourNetHos01 {
        font-size: 20px;
    }
    .ph-blogs .ph-blogSlider .ph-blogSliderRight {
        padding: 15px 0px;
    }
    .ph-testimonial .ph-testimonialOuter {
        justify-content: center;
        align-items: flex-start;
        display: flex;
    }
    .ph-testimonial .ph-testimonialOuter .ph-testFirst01 i {
        font-size: 25px;
    }
    .ph-testimonial .ph-testimonialOuter .ph-testSecond01 {
        width: 60%;
    }
    .ph-testimonial {
        margin-top: 30px;
    }
    .ph-testimonial .ph-testimonialOuter .ph-testThird01 {
        width: 53%;
    }
    .ph-testimonial .ph-testimonialOuter .ph-testSecond01,
    .ph-testimonial .ph-testimonialOuter .ph-testSecond01 p:nth-child(2){
        font-size: 10px;
    }
    .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate {
        display: flex;
    }
    .ph-appDoc .ph-appDocOuter .ph-appDocInner .ph-bookSearchLocate a:nth-child(1) {
        width: fit-content;
    }
    .ph-networkHospital{
        margin-top: 50px;
    }
    
}