/* Section 1 */
.hospital-page {
  width: 90%;
  margin: auto;
}

.ph-hospital {
  width: 100%;
}
.ph-hospital .ph-hospital-name {
  width: 90%;
  background-color: #b0cc82;
  display: flex;
  justify-content: space-between;
}
.ph-hospital-name .ph-hospital-img {
  margin-bottom: -50px;
  margin-right: -100px;
}
.ph-hospital-name .ph-hospital-img img {
  margin-top: 10px;
  width: 100%;
}
.ph-hospital-name .ph-desc {
  padding: 30px 50px;
}

.ph-hospital-name .ph-desc h2 {
  font-size: 28px;
  font-family: "Inter-Bold";
}
.ph-hospital-name .ph-desc p {
  font-size: 16px;
  font-family: "Inter-Regular";
  padding: 10px 0;
}
.ph-hospital-name .ph-desc b {
  font-size: 14px;
  font-family: "Inter-Bold";
}

.ph-hospital-name .ph-desc span {
  font-size: 14px;
  font-family: "Inter-Regular";
}
.ph-hospital-name .book {
  font-size: 16px;
  font-family: "Inter-Regular";
  background-color: #1e2f3f;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  margin: 20px 0;
}
.ph-hospital-name .read-more {
  border: none;
  border: 1px solid #1e2f3f;
  padding: 10px 16px;
  font-size: 14px;
  margin-left: 15px;
  background-color: transparent;
}
/* section 1 end section 2 start */
.hospital-section-2 {
  margin: auto;
  width: 90%;
  position: relative;
}
.hospital-section-2 .ph-hospital-section-img {
  width: 100%;
  margin-bottom: 30px;
  background-color: #00bbf2;
}
.hospital-section-2 .ph-hospital-section-img img {
  width: 100%;
  height: auto;
}
.hospital-section-2 .ph-hospital-img-text {
  position: absolute;
  top: 4%;
  right: 10%;
}
.hospital-section-2 .ph-hospital-img-text h3 {
  font-size: 40px;
  color: white;
  font-family: "Inter-Bold";
}
.hospital-section-2 .ph-hospital-img-text p {
  font-size: 16px;
  font-family: "Inter-Regular";
  color: #ffffff;
}
.hospital-section-2 .ph-hospital-img-text .ph-hospital-butn {
  color: white;
  background-color: #00bbf2;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-family: "Inter-Regular";
}

/* slider css */

.ph-ceofexSlider {
  margin-top: 50px;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5e5e5;
}
.ph-ceofexSlider .ph-centerofExc {
  font-size: 24px;
  font-family: "Inter-Bold";
  color: #000;
  margin-bottom: 20px;
}
.ph-ceofexSlider .ph-itemSlider img {
  width: 45px;
  margin-bottom: 20px;
  height: 50px;
}
.ph-ceofexSlider .ph-itemSlider {
  background-color: #d9f5fd;
  padding: 10px 15px;
}
.ph-ceofexSlider .ph-itemSlider p {
  color: #1e2f3f;
  font-size: 14px;
  font-family: "Inter-Bold";
  text-transform: uppercase;
}

@media only screen and (max-width: 1400px) {
  .ph-ceofexSlider .ph-itemSlider p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1300px) {
  .ph-ceofexSlider .ph-itemSlider p {
    font-size: 11px;
  }
}
@media only screen and (max-width: 700px) {
  .ph-ceofexSlider .ph-centerofExc {
    font-size: 18px;
  }
}

/* slider 2 */
.slider-2 {
  padding: 20px 30px;
  border-top: 3px solid #00bbf2;
  margin-bottom: 30px;
}

.ph-playLinks {
  color: #fff;
  font-size: 14px;
  font-family: "Inter-Bold";
  position: absolute;
  bottom: 18px;
  left: 30px;
  text-decoration: none;
  z-index: 1;
}

.ph-divbgGradiants {
  background: transparent linear-gradient(180deg, #0077b700 0%, #0077b7 100%) 0%
    0% no-repeat padding-box;
  width: 100%;
  height: 90px;
  bottom: 0px;
  opacity: 0.5;
  margin: -45px auto;
}
/* section 4 20 years */
.ph-hospital-years {
  display: flex;
  margin: 50px;
}

.ph-hospital-years .ph-years-box {
  background-color: #d9f5fd;
  padding: 30px 0px;
  border: 20px solid #00bbf2;
  vertical-align: middle;
  width: 40%;
}

.ph-hospital-years .ph-years-box img {
  /* width: 80%; */
}
.ph-hospital-years .ph-years-box-desc {
  background-color: #f5f5f5;
  width: 60%;
  padding: 30px 50px;
}
.ph-hospital-years .ph-years-box-desc h2 {
  font-size: 28px;
  font-family: "Inter-Bold";
  padding-bottom: 10px;
}

.ph-hospital-years .ph-years-box-desc p {
  font-size: 16px;
  font-family: "Inter-Regular";
}

/* our team css */
.ph-doctor-heading h2 {
  font-size: 24px;
  font-family: "Inter-Bold";
}
.ph-doctors-photos {
  margin: 20px 0;
}

.ph-doctors-photos img {
  /* margin: 10px 20px;    */
  width: 174px;
}

.ph-doctors-team-img {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
}

.phimg {
  display: block;
  width: 174px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b0cc82;
  overflow: hidden;

  height: 0;
  transition: 0.5s ease;
}

.ph-doctors-team-img:hover .overlay {
  height: 100%;
}

.ph-doc-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.ph-doc-text h2 {
  color: #000000;
  font-size: 14px;
  font-family: "Inter-Bold";
}
.ph-doc-text p {
  font-size: 14px;
  font-family: "Inter-Regular";
}
.ph-doc-text a {
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}
.viewall .ph-view {
  margin: 30px 0;
  border: none;
  background-color: #1e2f3f;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  font-family: "Inter-Regular";
}
/* footer */

.ph-playLink {
  color: #fff;
  font-size: 14px;
  font-family: "Inter-Regular";
  position: absolute;
  bottom: 20px;
  left: 55px;
  text-decoration: none;
  z-index: 1;
}

.ph-playLink i {
  color: #fff;
  font-size: 16px;
  background: #00bbf2;
  border-radius: 117px;
  width: 37px;
  height: 37px;
  vertical-align: middle;
  margin-right: 10px;
  padding: 11px 13px;
}
.ph-divbgGradiant {
  background: transparent linear-gradient(180deg, #0077b700 0%, #0077b7 100%) 0%
    0% no-repeat padding-box;
  width: 100%;
  height: 90px;
  bottom: 0px;
  opacity: 0.5;
  margin: -89px auto;
}
.ph-footer-list {
  display: flex;
  gap: 30px;
  margin: 50px 20px;
}
.ph-footer-list .ph-testi-img img {
  width: 100%;
}
.ph-footer-list .ph-patient-text {
  background-color: #b0cc82;
  padding: 20px;
}

.ph-footer-list .ph-patient-text h2 {
  font-size: 24px;
  font-family: "Inter-Bold";
}

.ph-footer-list .ph-patient-text p {
  font-size: 12px;
  font-family: "Inter-Medium";
}

.ph-footer-list .event {
  background-color: #58c3ba;
}

.ph-footer-list .hub {
  background-color: #00bbf2;
}

/* media query */
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
  .ph-hospital .ph-hospital-name {
    width: 100%;
    /* display: block; */
  }

  .ph-hospital-name .ph-hospital-img {
    margin: 0;
    width: 100%;
  }
  .ph-hospital-name .ph-hospital-img img {
    width: 100%;
  }
  .hospital-section-2 .ph-hospital-img-text {
    position: absolute;
    top: 2%;
    right: 10%;
    font-size: 16px;
  }
  .hospital-section-2 .ph-hospital-img-text h3 {
    font-size: 25px;
    color: white;
    font-family: "Inter-Bold";
  }
  .ph-playLink {
    bottom: 20px;
    font-size: 12px;
    left: 28px;
  }
}

@media only screen and (max-width: 992px) {
  .ph-playLink {
    bottom: 20px;
    font-size: 10px;
    left: 28px;

  }

  .ph-playLink i{
    color: #fff;
    font-size: 12px;
    background: #00bbf2;
    border-radius: 117px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    padding: 11px 13px;
  }

  .ph-doctors-photos {
    text-align: center;
    
}
}

@media only screen and (max-width: 768px) {

    .ph-hospital .ph-hospital-name {
        width: 100%;
        display: block;
      }

      .hospital-section-2 .ph-hospital-img-text {
        position: absolute;
        top: 0%;
        right: 5%;
        font-size: 10px;
      }
      .hospital-section-2 .ph-hospital-img-text h3 {
        font-size: 15px;
        color: white;
        font-family: "Inter-Bold";
      }

      .ph-hospital-years {
        display: block;
        margin: 50px;
    }
    .ph-hospital-years .ph-years-box{
        width: 100%;
}

.ph-hospital-years  .ph-years-box-desc{
    width: 100%;
}
.ph-footer-list{
    display: block;
    margin:30px 0;
}
.ph-divbgGradiant {
    background: transparent linear-gradient(180deg, #0077b700 0%, #0077b7 100%) 0%
      0% no-repeat padding-box;
    width: 100%;
    height: 0px;
    bottom: 0px;
    opacity: 0.5;
    margin: 20px auto;
  }
  .ph-playLink {
  top: 73%;
  font-size: 25px;
  position: sticky;
  bottom: 10%;

  }
  .ph-patient-testimonial{
      margin: 25px 0;
  }

  .ph-playLink i{
    color: #fff;
    font-size: 16px;
    background: #00bbf2;
    border-radius: 117px;
    width: 37px;
    height: 37px;
  }
}

@media only screen and (max-width: 560px) {
    .ph-playLink {
        top: 75%;
        font-size: 17px;
        position: sticky;
        bottom: 20%;
      
        }
}
